<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- TODO: Update parallel value to "tests" to run in parallel or "false" to run on one platform -->
<suite name="Cross Platform Suite" parallel="tests" thread-count="2">

    <!-- iOS Test Block -->
    <!-- TODO: Update build path and udid -->
    <!-- TODO: Update fullReset to "true" to run each test from a fresh install-->
    <test name="iOS Tests">
        <parameter name="platform" value="ios"/>
        <parameter name="env" value="staging"/>
        <parameter name="build" value="src/test/resources/apps/ios/ios_blood_2244.ipa"/>
        <parameter name="udid" value="00008101-000E49EA1081401E"/>
        <parameter name="fullReset" value="true"/>

        <!-- TODO: Add test files to be ran here -->
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- Android Test Block -->
    <!-- TODO: Update build path and udid -->
    <!-- TODO: Update fullReset to "true" to run each test from a fresh install-->
    <test name="Android Tests">
        <parameter name="platform" value="android"/>
        <parameter name="build" value="src/test/resources/apps/android/android_staging_2003.apk"/>
        <parameter name="udid" value="33071FDH2007QH"/>
        <parameter name="fullReset" value="true"/>

        <!-- TODO: Add test files to be ran here -->
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>
